@import url('utilities.css');
@import url('fonts.css');
@import url('colors.css');


* {
    transition: .2s;
    box-sizing: content-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--font-Lato);
    font-weight: 400;
    background-color: var(--color-GreenSmoke-100);
    color: var(--color-Bouquet-900);
    font-size: 1rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--color-Bouquet-600);
    font-weight: 700;
}

a:hover {
    color: var(--color-Bouquet-800);
}

a.link-button {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: var(--color-Bouquet-600);
    color: var(--color-GreenSmoke-100);
    border-radius: 30px;
    font-weight: 700;
}

a.link-button:hover {
    background-color: var(--color-Bouquet-800);
}

span.icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.icon.instagram {
    -webkit-mask: url('../assets/icons/instagram.svg') no-repeat center;
    mask: url('../assets/icons/instagram.svg') no-repeat center;
}

span.icon.facebook {
    -webkit-mask: url('../assets/icons/facebook.svg') no-repeat center;
    mask: url('../assets/icons/facebook.svg') no-repeat center;
}

span.icon.twitter {
    -webkit-mask: url('../assets/icons/twitter.svg') no-repeat center;
    mask: url('../assets/icons/twitter.svg') no-repeat center;
}
