@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');


:root {
    --font-Lato: 'Lato', sans-serif;
    --font-Galada: 'Galada', cursive;
}

.font-lato, .font-lato.regular{
    font-family: var(--font-Lato);
    font-weight: 400;
}

.font-lato.thin {
    font-weight: 100;
}

.font-lato.light {
    font-weight: 300;
}

.font-lato.bold {
    font-weight: 700;
}

.font-lato.black {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.non-italic {
    font-style: normal;
}

.font-galada {
    font-family: var(--font-Galada);
    font-weight: 400;
    font-style: normal;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}

.text-8xl {
    font-size: 6rem;
    line-height: 1;
}

.text-9xl {
    font-size: 8rem;
    line-height: 1;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
