@import url('base.css');

header {
    border-bottom: 1px solid var(--color-GreenSmoke-300);
}

header div {
    max-width: var(--container-max-w-lg);
    justify-content: space-between;
    margin: auto;
}

header div nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


aside {
    padding: 2rem;
    border-right: 1px solid var(--color-GreenSmoke-300);
}

aside h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}


aside ul.categories {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: .5rem;
}

aside ul.categories li {
    display: inline;
    margin: 0;
    padding: .5rem;
    background-color: var(--color-GreenSmoke-200);
    border: 1px solid var(--color-GreenSmoke-500);
    border-radius: 1rem;
    font-size: .8rem;
    cursor: pointer;
}

aside ul.categories li:hover {
    background-color: var(--color-GreenSmoke-300);
}

aside div.new {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

aside div.new img {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-width: 50px;
    min-width: 50px;
    min-width: 50px;
    object-fit: cover;
}

aside div.new .title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

aside div.new .date {
    font-size: .8rem;
    font-weight: 400;
    margin: 0;
}

aside div.social-media {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

aside div.social-media span.icon {
    background-color: var(--color-GreenSmoke-800);
}

aside div.social-media span.icon:hover {
    background-color: var(--color-Bouquet-600);
}


main section.about {
    background-color: var(--color-Acapulco-800);
    color: var(--color-GreenSmoke-100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 1rem;
    position: relative;
}

main section.about h2 {
    font-family: var(--font-Galada);
    font-weight: 300;
    font-size: xx-large;
    margin-bottom: 0;
}

main section.about p {
    max-width: 80%;
}

main section.about img {
    position: absolute;
    top: 20px;
    width: 150px;
}

main section.about img.right {
    right: 0px;
    transform: rotate(15deg);
}

main section.about img.left {
    left: 0px;
    transform: rotate(-15deg);
}

footer {
    background-color: var(--color-Acapulco-950);
    color: var(--color-GreenSmoke-100);
    font-weight: 300;
}

footer div.content {
    max-width: var(--container-max-w-lg);
    margin: auto;
    padding: 2rem;
}

footer div.copyrigth {
    padding: 1rem;
    border-top: 1px solid var(--color-GreenSmoke-300);
}